
<head>
<script src="js/async.min.js"></script>
<script src="js/cse-trends.js"></script>
<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="js/jquery-ui.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/bootstrap-dropdown.js"></script>

<script>
$LAB.script("js/trends.js")
</script>
</head>

<div>
	<div>
		<h1>Trends (under construction)</h1>
		<p>
		<p>
		<div id="tab-container"></div>
	</div>
</div>



